
#container {
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  width: 30%;
  text-align: center;
}

#input-git {
  padding: 12px;
  width: 30%;
  font-size: 16px;
}

input:focus {
  border: 2px solid #13b3ac;
  outline: none;
}

#btn {
  background-color: #13b3ac;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10%;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn:hover {
  background-color: red;
}

#info {
  margin-top: 24px;
}

#container li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

#container li > span {
    margin-right: 10px;
}


#avatar-git {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}